.App {
  text-align: center;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace;
}
.App-logo {
  top: 30px;
  
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 170px;
  padding: 50px 0;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.App-header h4,
.App-header h1 {
  padding: 0;
  margin: 0;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body {
  background-color: yellow;
  margin: 0;
  padding: 0;
  font-family: 'pokemon-font', ;
}
.pokemon-list-yo {
  width: 30vw;
  border-right: 1px solid black;
  display: inline-block;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.pokemon-list-card {
  background: darkblue;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}
.pokemon-display-case{
  display: inline-block;
  vertical-align: top;
  width: 65vw;

}
.pokemon-search {
  width: 100%;
}
.pokemon-title {
  font-size: 30px;
  
}
.pokemon-searc-btn {
  background-color: lightblue;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}
.pokemon-ul-details {
  display: inline-block;
 text-align: left;
  font-size: 10px;
}
.pokemon-ul {
font-size: 10px;
  text-align: left;
}
.item-bold {
  font-size: 10px;
  font-weight: 700;
   
}
.set-pokemon {
  background-color: lightblue;
  border-radius: 10px;
  height: 30px;
  margin: 10px;
}
.pokemon-text {
  font-size: 5px;
  font-weight: 500;
}
.pokeTitle {
  max-height: 90px;
  display: inline-block;
  align-items: center;
}
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 25px/normal 'pokemon-font', Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 lightblue , 0 2px 0 lightblue , 0 3px 0 lightblue , 0 4px 0 lightblue , 0 5px 0 lightblue , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  font: normal 25px/normal 'pokemon-font', Helvetica, sans-serif;
  color: red;
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.img-size {

  height: 150px;
  
}
.img-size2 {
  height: 75px;
  position: absolute;
  left: 0px;
  display: inline-block;
  
  
}
.test {
  font-family: 'pokemon-font', Arial, Helvetica, sans-serif !important;
}
.pokedex-image {
  
  position: absolute;
  top: 167px;
  left: 110px;
  height: 150px;
  width: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
  
}
.pokedexImg {
  position: relative;
}
.pokeDiv {
  position: relative;
  padding-left: 40px;
  height: 748px;
  width: 544px;
}
.header-condoments {
  position: relative;
  bottom: 30px;
  align-items: center;
}
.pokedex-stat-btn {
  font-family: 'pokemon-font', Arial, Helvetica, sans-serif;
    position: absolute;
    border: 0px;
    box-shadow: none;
    background-color: #4cbd74;
    top: 460px;
    left: 147px;
    height: 25px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}
.pokemon-title {
  position: absolute;
  color: white;
  font-size: 25px;
  top: 180px;
  left: 510px;
}
.stats-div {
  height: 150px;
  width: 200px;
  position: absolute;
  display: none;

}
.stats-div2 
.pokemon-p-details
{
  text-align: left;
  display: inline-block;
font-size: 10px;
  
  }
  .weight-height-spec {
    padding-left: 50px;
  }

